.navbar-container{
  border: 0.5px solid;
  box-shadow: 1px 1px 3px 1px #888888;
}
.main-container{
  background-color: #D1F2EB;
}
.icon-container{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;  
}
Card{
  background-color: #D1F2EB;
}
.icon-inner-container{
  position: absolute;
  left: 15%;
  top: 10%;
  justify-content: center;
}
.icon-global-class{
  
  color: green;
  font-size:70px;
  

}